<h1>About Us</h1>
<p>We are an online plant shop that based in Tokyo, Japan. Our shop provides you the highest quality of a wide range of plants and flowers.</p>

<p>Please feel free to contact us if you have any questions or if you wish to request specific plants.</p>